@import "amis/lib/themes/cxd.css";
@import "amis/lib/helper.css";
@import "amis/sdk/iconfont.css";

body {
    --Panel-heading-fontSize: 14px;
    --Page-title-fontSize: 20px;
    --Page-title-fontWeight: 600;
    --Table-toolbar-marginX: 0;
    --Tag-normal-borderRadius: var(--borderRadius);
    --Card-borderColor: var(--colors-neutral-text-8);
    --Tag-normal-borderColor: var(--colors-neutral-text-8);
    --Tooltip--attr-color: var(--colors-neutral-text-8);
    --DropDown-menuItem-color: var(--colors-neutral-text-1);
    --PopOver-bg: var(--owl-main-bg);
    --Property-title-bg: var(--colors-neutral-fill-9);
    --Property-label-bg: var(--colors-neutral-fill-9);
    --switch-default-on-slider-color: #fff;
    --switch-default-off-slider-color: #fff;

    --Alert--success-bg: var(--colors-success-9);
    --Alert--success-borderColor: var(--colors-success-6);
    --Alert--info-bg: var(--colors-info-9);
    --Alert--info-borderColor: var(--colors-info-6);
    --Alert--warning-bg: var(--colors-warning-9);
    --Alert--warning-borderColor: var(--colors-warning-6);
    --Alert--danger-bg: var(--colors-error-9);
    --Alert--danger-borderColor: var(--colors-error-6);
}

.cxd-Markdown pre {
    background: var(--colors-neutral-fill-9);
}

.cxd-CBGroupOrItem-body-group.is-hover {
    background: var(--colors-neutral-fill-8);
}

.tox-tinymce {
    border-radius: 4px;
}

.cxd-DateRangePicker-rangers {
    background: var(--owl-main-bg);
}

.cxd-Page-header {
    display: flex;
    align-items: flex-end;
    padding: 0 0 var(--Page-header-paddingY) 0;
}

.cxd-Page {
    height: auto;
    background: transparent;
}

.cxd-Page-content {
    padding: 0;
}

.cxd-Page-body {
    padding: 0;
}

.cxd-Page-subTitle {
    padding-left: 12px;
    font-size: 14px;
    line-height: 24px;
}

.cxd-Page-main > .cxd-Page-header {
    border-bottom: 0;
}

.cxd-Page-headerRow {
    border-bottom: none;
}

.cxd-Crud {
    padding: 3px 15px;
    background: var(--colors-neutral-fill-11);
    border-radius: var(--borderRadius);
    border: var(--Table-borderWidth) solid var(--colors-neutral-text-8);
}

.cxd-Table-contentWrap {
    padding-bottom: 15px;
}

.cxd-Card {
    box-shadow: none;
}

.cxd-Layout--folded .cxd-AsideNav-subList {
    border-radius: var(--borderRadius);
}

.base-filter {
    background: var(--colors-neutral-fill-11) !important;
    box-shadow: 0 0 0 0 !important;
    border: none;
    border-bottom: var(--Table-borderWidth) solid var(--colors-neutral-text-8) !important;
    border-radius: 0;
}

.base-filter .cxd-TextControl-input {
    background: var(--colors-neutral-fill-11);
}

.base-filter .cxd-Panel-footer {
    background: var(--colors-neutral-fill-11);
}

.cxd-Panel-footer, .cxd-Panel-heading {
    border-width: 0 !important;
}

.base-filter .cxd-Panel-heading, .base-form .cxd-Panel-heading {
    border-width: 0;
    background: transparent !important;
}

.cxd-Panel {
    box-shadow: none;
}

.base-filter .cxd-Panel, .base-form .cxd-Panel {
    border: none;
}

.cxd-Panel-title, .cxd-Modal-title {
    font-size: 14px;
}

.cxd-RichTextControl {
    border-radius: var(--borderRadius);
}

.cxd-Image {
    border: none;
}

.cxd-ExcelControl-dropzone {
    background: var(--colors-neutral-fill-11);
    border-color: var(--colors-neutral-text-8);
}

.cxd-Tabs--vertical {
    border-color: var(--colors-neutral-text-8);
}

.cxd-Form .cxd-Collapse-header {
    background: var(--colors-neutral-fill-11);
    display: flex;
    align-items: center;
}

.cxd-Collapse-header:hover {
    background: var(--colors-neutral-fill-11);
    color: var(--colors-neutral-text-1);
}

.navbar-user:hover {
    border: 0 !important;
    color: var(--colors-neutral-text-1) !important;
    background: transparent !important;
}

.navbar-user {
    height: 100% !important;
    border-radius: 0;
    border: 0;
    color: var(--colors-neutral-text-1);
    padding: 0 1.5rem 0 12px;
    background: transparent;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;

    img {
        border-radius: 50%;
        width: 32px;
        height: 32px;
        object-fit: cover;
    }
}


.base-form .cxd-Card-heading {
    align-items: center;
    border-bottom: 1px solid var(--colors-neutral-text-8);
    padding: 10px var(--gap-md);
}

.cxd-Table-searchableForm {
    background: var(--colors-neutral-fill-11);
    margin-bottom: 15px;
    border-bottom: 1px solid var(--colors-neutral-text-8) !important;
    padding-bottom: 10px;
}

.cxd-Page-toolbar {
    padding: 0 0 var(--Page-header-paddingY) 0;
}

.cxd-Crud-body {
    margin-bottom: 0;
}

.cxd-DropDown-menuItem, .cxd-DropDown-menu > li {
    border-radius: var(--borders-radius-3);
    display: flex;
    align-items: center;
}
