body {
    --Panel-heading-fontSize: 14px;
    --Page-title-fontSize: 20px;
    --Page-title-fontWeight: 600;

    --Alert--success-bg: #e8ffea;
    --Alert--success-borderColor: #b7f0c2;
    --Alert--info-bg: #e9f3ff;
    --Alert--info-borderColor: #b7d4f0;
    --Alert--warning-bg: #fef7e8;
    --Alert--warning-borderColor: #f0dab7;
    --Alert--danger-bg: #feece8;
    --Alert--danger-borderColor: #f0b7b7;

    --color-bg-2: white;
    --borderRadius: 6px;
    --color-border: rgba(5, 5, 5, 0.06);
    --color-text-1: #000;
}

.cxd-Page-header {
    display: flex;
    align-items: end;
    padding: 0 0 var(--Page-header-paddingY) 0;
}

.cxd-Page {
    height: auto;
    background: transparent;
}

.cxd-Page-content {
    padding: 0;
}

.cxd-Page-body {
    padding: 0;
}

.cxd-Page-subTitle {
    padding-left: 12px;
    font-size: 14px;
    line-height: 24px;
}

.cxd-Page-main > .cxd-Page-header {
    border-bottom: 0;
}

.cxd-Page-headerRow {
    border-bottom: none;
}

.cxd-Crud {
    padding: 15px;
    background: var(--color-bg-2);
    border-radius: var(--borderRadius);
    border: var(--Table-borderWidth) solid var(--color-border);
}

.cxd-Card {
    box-shadow: none;
}

.cxd-Layout--folded .cxd-AsideNav-subList {
    border-radius: var(--borderRadius);
}

.base-filter {
    background: var(--color-bg-2) !important;
    box-shadow: 0 0 0 0 !important;
    border: none;
    border-bottom: var(--Table-borderWidth) solid var(--color-border) !important;
    border-radius: 0;
}

.base-filter .cxd-TextControl-input {
    background: var(--color-bg-2);
}

.base-filter .cxd-Panel-footer {
    background: var(--color-bg-2);
}

.cxd-Panel-footer, .cxd-Panel-heading {
    border-width: 0 !important;
}

.base-filter .cxd-Panel-heading, .base-form .cxd-Panel-heading {
    border-width: 0;
    background: transparent !important;
}

.cxd-Panel {
    box-shadow: none;
}

.base-filter .cxd-Panel, .base-form .cxd-Panel {
    border: none;
}

.cxd-Panel-title, .cxd-Modal-title {
    font-size: 14px;
}

.cxd-RichTextControl {
    border-radius: var(--borderRadius);
}

.cxd-Image {
    border: none;
}

.cxd-PopOver {
    border: none !important;
}

.cxd-ExcelControl-dropzone {
    background: var(--color-bg-2);
    border-color: var(--color-border);
}

.cxd-Tabs--vertical {
    border-color: var(--color-border);
}

.cxd-Form .cxd-Collapse-header {
    background: var(--color-bg-2);
    display: flex;
    align-items: center;
}

.cxd-Collapse-header:hover {
    background: var(--color-bg-2);
    color: var(--color-text-1);
}

.navbar-user:hover {
    border: 0 !important;
    color: var(--color-text-1) !important;
}

.navbar-user {
    border: 0;
    color: var(--color-text-1);
    padding: 0;

}

.cxd-DropDown-button{
    display: flex;
    align-items:center;
    border-radius: 4px;
}

.navbar-user img {
    width: 32px;
}

.cxd-Table-toolbar {
    padding: 0 var(--Table-toolbar-marginX) var(--Table-toolbar-marginY) var(--Table-toolbar-marginX);
}

.base-form .cxd-Card-heading {
    align-items: center;
    border-bottom: 1px solid var(--color-border);
    padding: 10px var(--gap-md);
}

.cxd-Table-searchableForm {
    background: var(--color-bg-2);
    margin-bottom: 15px;
    border-bottom: 1px solid var(--color-border) !important;
    padding-bottom: 10px;
}

.cxd-Page-toolbar {
    padding: 0 0 var(--Page-header-paddingY) 0;
}

.cxd-Crud-body{
    margin-bottom: 0 !important;
}

.cxd-Table-contentWrap{
    margin-bottom: .75rem;
}
