:root {
    --slow-menu-bg: #eaf4ff;

    --primary: var(--ant-primary-color);
    --success: #03b431;
    --warning: #fc7e19;
    --danger: #f24242;
    --info: var(--ant-primary-color);

    --borderRadius: 6px;

    --Panel-borderWidth: 0;
    --Panel-border: 1px solid rgba(0, 0, 0, .06);
    --Page-title-fontSize: 20px;
    --Page-title-fontWeight: 600;
    --Page-title-lineHeight: 1;
    --DropDown-menu-borderWidth: 0;
    --Form-input-onHover-borderColor: var(--primary);
    --Form-input-onFocused-borderColor: var(--primary);
    --Form-select-onFocused-borderColor: var(--primary);
    --Form-select-onFocused-color: var(--primary);
    --ColorPicker-onFocused-borderColor: var(--primary);
    --DatePicker-onFocused-borderColor: var(--primary);
    --InputGroup-select-onFocused-color: var(--primary);
    --Panel--default-bg: transparent;
    --Panel--default-headingBorderColor: transparent;
    --Panel-titleFontSize: var(--fontSizeLg);
    --ListControl-item-onActive-color: var(--primary);
    --ListControl-item-onActive-borderColor: var(--primary);
    --ListControl-item-onActive-before-bg: var(--primary);
    --Switch-checked-onHover-bgColor: var(--primary);
    --Switch-checked-onActive-bgColor: var(--primary);
    --Combo-addBtn-onHover-bg: var(--primary);
    --Combo-addBtn-onActive-bg: var(--primary);
    --Form-select-menu-onActive-color: var(--primary);
    --Button--default-onHover-color: var(--primary);
    --Button--default-onActive-color: var(--primary);
    --Button--default-onActive-border: var(--primary);
    --primary-onActive: var(--primary);
    --info-onHover: var(--info);
    --info-onActive: var(--info);
    --link-onClick-color: var(--primary);
    --Button--primary-onHover-border: var(--primary);
    --button-primary-default-bg-color: var(--primary);
    --button-primary-default-top-border-color: var(--primary);
    --button-primary-default-bottom-border-color: var(--primary);
    --button-primary-default-left-border-color: var(--primary);
    --button-primary-default-right-border-color: var(--primary);
    --Button--primary-onHover-bg: var(--primary);
    --Button--info-onActive-bg: var(--info);
    --Button--info-onActive-border: var(--info);
    --Button--info-onHover-bg: var(--info);
    --Button--info-onHover-border: var(--info);
    --Calendar-btn-onActive-bg: var(--primary);
    --Calendar-btn-onActive-border: var(--primary);
    --Calendar-btn-onHover-bg: var(--primary);
    --Calendar-btn-onHover-border: var(--primary);
    --Calendar-shortcut-onHover-color: var(--primary);
    --DatePicker-header-onHover-color: var(--primary);
    --PickerColumns-confirmAction-color: var(--primary);
    --Button-paddingX: 15px;
    --button-size-default-paddingRight: 15px;
    --button-size-default-paddingLeft: 15px;
    --Panel-footerPadding: 1rem var(--gap-base);
    --Panel-headingPadding: var(--gap-base);
    --Panel-boxShadow: 0 0 0;

    --button-link-default-font-color: var(--primary);
    --colors-brand-5: var(--primary);
    --button-default-hover-font-color: var(--primary);
    --button-default-hover-top-border-color: var(--primary);
    --button-default-hover-bottom-border-color: var(--primary);
    --button-default-hover-left-border-color: var(--primary);
    --button-default-hover-right-border-color: var(--primary);
    --Avatar-bg: transparent;
    --transfer-search-border-hover-color: var(--ant-primary-color-hover);
    --button-default-default-bg-color: white;
    --Panel-borderRadius: var(--borderRadius);
    --button-primary-hover-bg-color: var(--ant-primary-color-hover);
    --button-primary-hover-top-border-color: var(--ant-primary-color-hover);
    --button-primary-hover-bottom-border-color: var(--ant-primary-color-hover);
    --button-primary-hover-left-border-color: var(--ant-primary-color-hover);
    --button-primary-hover-right-border-color: var(--ant-primary-color-hover);
    --button-primary-active-bg-color: var(--ant-primary-color-active);
    --button-primary-active-top-border-color: var(--ant-primary-color-active);
    --button-primary-active-bottom-border-color: var(--ant-primary-color-active);
    --button-primary-active-left-border-color: var(--ant-primary-color-active);
    --button-primary-active-right-border-color: var(--ant-primary-color-active);
    --button-link-hover-font-color: var(--ant-primary-color-hover);
    --button-link-active-font-color: var(--ant-primary-color-active);
    --button-default-active-font-color: var(--ant-primary-color-active);
    --button-default-active-top-border-color: var(--ant-primary-color-active);
    --button-default-active-bottom-border-color: var(--ant-primary-color-active);
    --button-default-active-left-border-color: var(--ant-primary-color-active);
    --button-default-active-right-border-color: var(--ant-primary-color-active);
}

//2.4.0 样式修复
.cxd-Button--sm {
    font-size: var(--button-size-sm-font-size);
    line-height: var(--button-size-sm-font-lineHeight);
    border-radius: var(--button-size-sm-top-right-border-radius) var(--button-size-sm-top-left-border-radius) var(--button-size-sm-bottom-right-border-radius) var(--button-size-sm-bottom-left-border-radius);
    height: var(--button-size-sm-height);
    padding: var(--button-size-sm-paddingTop) var(--button-size-sm-paddingRight) var(--button-size-sm-paddingBottom) var(--button-size-sm-paddingLeft);
    margin: var(--button-size-sm-marginTop) var(--button-size-sm-marginRight) var(--button-size-sm-marginBottom) var(--button-size-sm-marginLeft);
}

.cxd-Button > svg {
    margin-top: -4px;
    width: 12px;
    height: 12px;
}

// end


.cxd-Page {
    height: auto;
    background: transparent;
}

.cxd-Page-content {
    padding: 0;
}

.cxd-Page-header {
    display: flex;
    align-items: end;
    padding: var(--Page-header-paddingY) 0;
}

.cxd-Page-body {
    padding: var(--Page-body-padding) 0;
}

.cxd-Page-subTitle {
    padding-left: 12px;
    font-size: 14px;
    line-height: 1;
}

.cxd-Page-main > .cxd-Page-header {
    border-bottom: 0;
}

.cxd-Page-headerRow {
    border-bottom: none;
}

.cxd-Crud {
    padding: 15px;
    background: white;
    border-radius: var(--borderRadius);
    border: 1px solid rgba(0, 0, 0, .06);
}

.cxd-Card {
    border: 1px solid rgba(0, 0, 0, .06);
}

.cxd-Layout--folded .cxd-AsideNav-subList {
    border-radius: var(--borderRadius);
}

.cxd-Remark > span {
    background: transparent;
}

.base-filter {
    background: #f7f7f9 !important;
    box-shadow: 0 0 0 0 !important;
}
