@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: var(--colors-neutral-text-8);
}

html, body {
    width: 100%;
    height: 100% !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.ant-dropdown-trigger {
    cursor: pointer;
}

.owl-tabs::-webkit-scrollbar {
    display: none;
}

.ant-message {
    z-index: 5000;
}

::selection {
    background: var(--colors-brand-8);
    color: var(--colors-neutral-text-1);
}

.clear-children-mb > div{
    margin-bottom: 0 !important;
    overflow-x: hidden !important;
}

.ant-menu-item-icon {
    vertical-align: -0.225rem !important;
}
