@tailwind base;
@tailwind components;
@tailwind utilities;

*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: rgba(5, 5, 5, 0.06);
}

body {
    overflow: hidden;
}

#root {
    height: 100vh;
    width: 100vw;
}
